{% extends 'base.html.twig' %}
{% block title %}Nouveau portable{% endblock %}
{% block body %}
<div class="container my-5">
    <h1>Enregistrer un nouveau portable</h1>
    {{ include('portable/_form.html.twig') }}
    <a href="{{ path('portable_index') }}">retour à la liste</a>
    </div>
{% endblock %}