{% extends 'base.html.twig' %}

{% block title %}CGV{% endblock %}

{% block titre %}CONDITIONS GÉNÉRALES DE VENTE{% endblock %}

{% block body %}

<div class="container my-5 text-center">

<h3>PRÉAMBULE</h3>
<p>Les présentes conditions sont conclues entre, d'une part la société HT à Ivry sur Seine 26 quai Marcel Boyer 94200 Ivry sur Seine, immatriculée au Registre du Commerce et des Sociétés sous le numéro C 792 454 977, code NAF 4791B (ci-après dénommée « HT »), et d'autre part les personnes physiques non professionnelles souhaitant effectuer un achat via le site internet www.high-tech.com, après dénommées le Client.
</p><br>
<h3>ARTICLE 1. APPLICATION DES CONDITIONS GÉNÉRALES DE VENTE</h3>
<p>Toute commande émanant du Client, implique l'adhésion entière et sans réserve de l'acheteur aux présentes conditions générales de vente à l'exclusion de tous autres documents.
L'annulation ou l'inapplicabilité d'une des clauses des conditions générales ou particulières n'entraîne pas l'annulation des autres clauses générales ou particulières lesquelles restent pleinement valides et applicables.
Toute dérogation aux présentes conditions générales n'aura de valeur que si elle est au préalable expressément acceptée par HT. La dérogation expresse à une des conditions générales ou particulières n'implique aucune renonciation à l'application des autres clauses générales ou particulières. on se réserve le droit d'adapter à tout moment les présentes conditions générales de vente sans notification expresse. Les conditions générales applicables seront celles en vigueur au jour de la conclusion de la commande.</h4>
Le Client déclare y adhérer et accepter le contenu en cliquant sur le bouton "Payer la commande", avant la confirmation de sa commande, ce qui vaut acceptation des conditions générales de vente.</p><br>
<h3>ARTICLE 2. PRIX</h3>

<P>Le prix des produits est indiqué en euros TTC, hors frais de livraison. Les frais, délais et modalités de livraison du produit sont indiqués sur la fiche produit concernée et sont récapitulés avant paiement.</p><br>

<h3>ARTICLE 3. COMMANDE</h3>

 <p>La commande est réalisée par le Client sur le Site, en se connectant à son compte, après avoir renseigné son identifiant et son mot de passe. Le Client devant au préalable avoir créé un compte client.

La commande ne sera définitive et le transfert de propriété réalisé qu'à compter du paiement du prix intégral correspondant.

Les informations transmises par le Client lors de la prise de la commande engagent celui-ci. A ce titre, le Client s'engage à transmettre toutes les informations nécessaires à la livraison des produits, afin d'en garantir la bonne fin, et à prendre livraison des produits à l'adresse mentionnée par le Client lors de la commande.

Nonobstant le droit de rétractation visé à l'article 7, la commande est ferme à compter de la confirmation définitive de la prise en compte de la commande par HT.

Si le Client souhaite changer d'avis après l'envoi du message de confirmation définitive, le Client devra se rapprocher du service client de HT par tous moyens et dans les plus brefs délais au 01 49 87 27 77 (prix d'un appel local) ou par mail serviceclient@hightech.

Dans le cas où la demande d'annulation de commande du Client intervient après l'expédition, HT sera en droit de retenir le prix de la livraison.</p><br>

<h3>ARTICLE 4. PAIEMENT</h3>

<p>Le règlement des commandes s'effectue uniquement en euros, au moment de la validation de la commande par L-COMMERCE, par carte bancaire pour l'intégralité du montant TTC de la commande et des frais de livraison.

En cas d'indisponibilité du produit commandé après encaissement du prix correspondant à la commande, le Client sera informé et remboursé dans les meilleurs délais. Dans ce cas, le montant du Ticket E.Leclerc dont serait éventuellement porteur le produit commandé serait débité de la carte de fidélité du Client.

Les Parties conviennent que les sommes versées d'avance ne sont pas des arrhes.</p>

<h3>Authentification par 3D SECURE</h3>

<p>Afin de prévenir et lutter contre la fraude et l’usurpation d’identité, le site www.high-tech.com propose systématiquement un système de vérification d’identité du porteur de carte bancaire intitulé « 3D SECURE ». Selon ce système, après saisie du numéro de carte bancaire dans la page sécurisée, une demande de vérification sera faite par la Banque du porteur. Cette vérification peut prendre différentes formes en fonction de la banque du porteur : Envoi d’un code de sécurité par SMS, demande de la date de naissance du porteur...

La commande est suspendue jusqu’à parfaite validation du processus de contrôle d’identité « 3D SECURE » par le Client.</p><br>

<h3>Le paiement en 3X et 4x sans frais</h3>

<p>Le site www.high-tech.leclerc propose de régler les commandes en 3X ou 4x sans frais.

Ce type de paiement est proposé pour toutes les commandes comprises entre 100€ et 3000€, à l'exception :

> Des smartphones et tablettes d'un montant supérieur à 300€

> Des produits Apple MacBook

Pour bénéficier de cette offre, le client sélectionne simplement ce type de règlement lors de la validation de sa commande. Ce type de paiement est réservé aux particuliers dont l'adresse de facturation est située en France Métropolitaine.

Facilité de paiement réservée aux porteurs d’une carte bancaire. Versement obligatoire par carte bancaire égal à 1/3 ou 1/4 du montant de l’achat et le solde en 2 ou 3 mensualités égales sans intérêts. Exemple : pour un achat de 300€ avec paiement en 3x sans frais : 1er versement comptant de 100€ au moment de l’achat suivi de 2 échéances mensuelles de 100€ chacune. Conditions en vigueur au 01/01/2016.</p><br>

 

<h3>ARTICLE 5. MISE A DISPOSITION DE LA COMMANDE</h3>

<p>Nos offres de produits sont valables dans la limite des stocks disponibles.

Les indications sur la disponibilité des produits sont fournies  au client au moment de la passation de commande. Malheureusement, pour des raisons techniques liées à l’impossibilité d’afficher le stock et de rafraichir les pages en temps réel, des écarts de stocks sont toujours possibles.

Dans l'éventualité d'une indisponibilité de produit après passation de commande, le Client sera informé par courrier électronique de l’annulation de sa commande.</P>


<h4>Commandes en retrait magasin</h4>

<p>Les produits présentés sur le site ne sont mis à disposition que dans des magasins E.Leclerc de France Métropolitaine. Les produits sont uniquement disponibles au magasin que vous avez indiqué au cours du processus de votre commande.

A défaut de retrait dans le magasin concerné du ou des produits achetés dans les 30 jours calendaires suivant la mise à disposition du ou des produits, la marchandise, objet de la commande, ne sera pas conservée. La commande sera ainsi annulée sans autre préavis et le Client sera remboursé.

Pour retirer sa commande, le client doit attendre d’avoir reçu son courrier électronique de mise à disposition de sa commande, lui rappelant le magasin de rattachement et le lieu du point retrait. Le Client ne peut retirer sa commande que pendant les horaires d’ouverture de ce point retrait.

Le Client peut alors imprimer sa facture. Le Client qui est dans l'impossibilité d'imprimer sa facture doit noter le numéro de référence de sa commande. A défaut de facture, ce numéro ou le mail de confirmation de mise à disposition de sa commande pourront lui être demandés par le magasin lors du retrait de sa commande.

Au moment de retirer sa commande, le Client doit pouvoir fournir la preuve de son identité et présenter sa facture ou le numéro de référence de sa commande. Il pourra être demandé au Client de fournir au moment du retrait de sa commande une pièce d'identité ou tout document pouvant justifier son identité.

Lors du retrait de sa commande, le Client doit s'assurer de sa conformité.</p>

<h4>Commandes en livraison à domicile</h4>

<p>
La livraison de la commande se fera dans un délai maximum de 2 à 5 jours ouvrés à partir de la date d'expédition de la commande. Pour les livraisons en Corse, le délai de livraison pourra exceptionnellement aller jusqu’à 7 jours ouvrés.

Frais de livraison

Concernant les commandes expédiées au domicile du client, il sera appliqué des frais de livraison, calculés en fonction du prix de vente TTC du produit, du total TTC du panier du client, de sa catégorie du produit et de son poids. Le détail des frais de livraison est indiqué dans le tableau ci-dessous.

 

Prix de vente total TTC des produits en livraison du panier

Frais de livraison TTC

Tous produits sauf téléviseurs de 32 pouces et plus ou produits de plus de 30 kgs

moins de 50€

4,99 €

de 50€ à 299,99€

7,99 €

plus de 300€

Gratuit

Téléviseurs supérieurs à 32 pouces ou produits de plus de 30 kgs

Quel que soit le prix de vente TTC

19,99 €</p><br>

 

<h3>ARTICLE 6. GARANTIE DES PRODUITS</h3>

<p>La garantie des produits prend effet à compter de la date de livraison effective du produit telle qu'elle figure sur le bon de livraison émargé par le Client, ou du retrait du produit par le client en magasin.

Les produits commandés sur le Site sont soumis à la garantie légale du vendeur contre les défauts de conformité apparus dans un délai de deux ans à compter de la date de livraison.

Cette garantie ne fait pas échec à toute autre éventuelle garantie commerciale du constructeur et/ou du vendeur à l'égard du Client.

En cas de retour du produit pour réparation, la durée de garantie est prolongée d'autant.</p>

<h4>Garantie Légale</h4>

<p>Conformément aux articles L217-4 et suivants du Code de la consommation, vous disposez d’une garantie légale contre les défauts de conformité de deux ans à compter de la date de délivrance pour les produits physiques.

Cette garantie couvre les frais de pièces et de main d’œuvre afin de résoudre le défaut de conformité du produit.

Pour être conforme à la commande, le bien doit correspondre à la description donnée sur le site www.high-tech.leclerc et posséder les qualités présentées ou présenter les qualités qu'un acheteur peut légitimement attendre eu égard à ces déclarations.

Dans le cas d’un défaut de conformité, vous pouvez signaler ce défaut auprès de notre service client au 01 49 87 27 77 (prix d'un appel local) ou par mail serviceclient@hightech.leclerc. Même si le produit a été retiré en magasin, il ne doit pas être ramené au point retrait.

Si le défaut de conformité est confirmé par notre service client, vous avez droit entre un échange ou une réparation du produit, selon la modalité la moins couteuse au regard de la valeur de ce produit.

En cas de défaut de conformité mineur, le site se réserve le droit de rembourser seulement une partie du prix conformément à l’article L217-10 du Code de la consommation.</p><br>

 

<h3>ARTICLE 7. RÉTRACTATION, REMBOURSEMENT OU ÉCHANGE</h3>

<p>Conformément aux dispositions des articles L221-18 et suivants du Code de la Consommation, le Client dispose d'un délai de 14 jours francs pour communiquer sa volonté de se rétracter à compter de la réception de sa commande et ainsi retourner au plus tard dans les 14 jours suivant la communication de sa décision de se rétracter tout produit au service client de L-COMMERCE pour remboursement, sans avoir à justifier de motifs ni à payer de pénalités.

Les retours seront à renvoyer par le client à l'adresse suivante : Retour Site High-Tech</p>

<h3>ARTICLE 8. DONNÉES PERSONNELLES</h3>

<p>HT procède au traitement informatique des données personnelles du Client aux fins de la gestion de la commande de ce dernier. Cette collecte des données personnelles est obligatoire aux fins de la gestion de la commande du Client. Elle est destinée à L-COMMERCE et aux tiers en charge de la gestion de la commande du Client.

Conformément à la loi "Informatique et Libertés" du 6 janvier 1978, le Client dispose d'un droit d'accès et de rectification relatif aux données le concernant.</p><br>

 

<h3>ARTICLE 9. PROPRIÉTÉ INTELLECTUELLE</h3>

<p>Les marques, logos, textes, illustrations, œuvres graphiques reproduits ou représentés sur notre site sont la propriété intellectuelle de leurs titulaires et auteurs sur tout support et pour le monde entier.

A ce titre et conformément aux dispositions du Code de la propriété intellectuelle, seule l'utilisation pour un usage privé sous réserve de dispositions différentes voire plus restrictives du code de la propriété intellectuelle est autorisée. Toute reproduction ou représentation totale ou partielle de notre site ou de tout ou partie des éléments se trouvant sur notre site est strictement interdite.</p>


</div>



{% endblock %}