<form method="post" action="{{ path('chromebook_delete', {'id': chromebook.id}) }}" onsubmit="return confirm('Etes vous sûr(e) de vouloir effacer cet article ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ chromebook.id) }}">
    <button class="btn">Effacer</button>
</form>