<form method="post" action="{{ path('macbook_delete', {'id': macbook.id}) }}" onsubmit="return confirm('Etes vous sûr(e) de bien vouloir effacer cet article ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ macbook.id) }}">
    <button class="btn">effacer</button>
</form>