{% extends 'base.html.twig' %}
{% block title %}modifier un portable macbook{% endblock %}
{% block body %}
<div class="container my-5">
    <h1>Modifier un portable macbook</h1>
    {{ include('macbook/_form.html.twig', {'button_label': 'modifier'}) }}
    <a href="{{ path('macbook_index') }}">retour à la liste</a>
    {{ include('macbook/_delete_form.html.twig') }}
    </div>
{% endblock %}